* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  /* height: 3000px; */
}

nav {
  background-color: #0c71f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 5px 5%;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left img {
  cursor: pointer;
}

.logo {
  width: 160px;
  margin-right: 45px;
}

.nav-left ul li {
  list-style: none;
  display: inline-block;
}

.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}

.nav-user-icon img,
.image-user-container img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-user-icon {
  margin-left: 30px;
}

.search-box {
  background-color: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box img {
  width: 18px;
}

.search-box input {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border: none;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  top: 0;
  right: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #41db51;
  position: absolute;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}

.lift-sidebar,
.right-sidebar {
  position: sticky;
  top: 70px;
  flex-basis: 25%;
  align-self: flex-start;
}

.lift-sidebar ul li {
  list-style: none;
}

.lift-sidebar ul li a,
.shortcuts-links-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #626262;
  margin-bottom: 30px;
  width: fit-content;
}

.lift-sidebar ul li img {
  width: 25px;
  margin-right: 15px;
}

.see-more-link-container {
  margin: 20px 15px;
}

.lift-sidebar .see-more-link {
  color: #0c71f5;
  cursor: pointer;
}

.shortcuts-links-container {
  margin: 25px 0 15px 0px;
}

.separator {
  border-top: 1px solid #ccc;
}

.lift-sidebar .list-shortcuts img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}

.shortcuts-links-container .title {
  margin: 25px 0;
  color: #626262;
  font-weight: 500;
}

.right-sidebar {
  background-color: #fff;
  color: #626262;
  padding: 20px;
  border-radius: 4px;
}

.event {
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}

.left-event {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p {
  font-size: 12px;
  margin-bottom: 5px;
}

.event .fa-location-dot {
  margin-right: 4px;
}

.event a {
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}

.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1876f2;
  color: #fff;
  font-size: 10px;
  padding: 4px 0;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.event h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 3px;
}

.sidebar-title a {
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}

.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.online-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.online-list .online,
.online-list .online img {
  width: 40px;
  border-radius: 50%;
}

.online-list .online {
  margin-right: 15px;
}

.online-list .online::after {
  top: unset;
  bottom: 5px;
}

.main-content {
  margin: 0 10px 10px 10px;
}

.image-story-container {
  position: relative;
  margin-right: 20px;
}

.last-story {
  margin-right: 0;
}

.status-image {
  width: 120px;
  border-radius: 9px;
  object-fit: cover;
}

.upload-icon,
.member-icon {
  width: 40px;
  position: absolute;
  bottom: 55px;
  left: 40px;
  z-index: 500;
  cursor: pointer;
}

.image-story-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 213px;
  background: rgba(0, 0, 0, 0.28);
  border-radius: 9px;
  z-index: 1;
  pointer-events: none; /* Ensure the overlay doesn't interfere with clicks */
}

.image-story-container p {
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: white;
  z-index: 501;
  text-align: center;
}

.stories-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.member-icon {
  border-radius: 50%;
  border: 5px solid #0c71f5;
  bottom: unset;
  left: unset;
  top: 10px;
  left: 10px;
}

.post-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-header-row .three-dot-options-icon {
  font-size: 1.5rem;
  color: #979797;
  cursor: pointer;
}

.write-post-container {
  display: flex;
  width: 100%;
  background-color: #fff;
  color: #626262;
  border-radius: 6px;
  padding: 20px;
  margin-top: 20px;
}

.user-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.image-user-container {
  margin-right: 10px;
  margin-bottom: 25px;
}

.privacy {
  font-size: 12px;
}

.user-name {
  margin-bottom: 5px;
  flex-grow: 1;
}

.post-content-container {
  flex: 1;
}

.content {
  width: 100%;
}

.content textarea {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.options-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.options-container a img {
  width: 20px;
  object-fit: contain;
  margin-right: 10px;
}

.options-container a {
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  color: #626262;
  margin-right: 30px;
}

.post-container {
  max-width: 800px; /* Adjust this value as needed */
  margin: 20px auto; /* Center the post container and add top/bottom margin */
  background-color: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  word-wrap: break-word; /* Ensure long words break to avoid overflow */
  overflow-wrap: break-word;
}

.post-container .image-user-container {
  display: flex;
  align-items: center;
}

.post-container .image-user-container img {
  margin-right: 10px;
}

.post-container .image-user-container p {
  font-size: 1.1rem;
  margin: 0;
}

.post-content-text {
  word-wrap: break-word; /* ensure long words break to avoid overflow */
  overflow-wrap: break-word; /* similar to word-wrap, but more compatible */
}

.post-container .image-user-container span {
  font-size: 0.8rem;
  color: #8a8a8a;
}

.post-container .post-text {
  color: #8a8a8a;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.post-container .post-text span {
  font-weight: bold;
  color: rgb(92, 92, 92);
  cursor: pointer;
}

.post-container .post-text a {
  text-decoration: none;
  color: #1876f2;
}

.post-container .post-image {
  width: 100%;
  border-radius: 6px;
  margin-top: 15px;
}

.post-container .reactions,
.post-container .reactions div,
.post-container .user-image-options,
.post-container .reaction-icons-container {
  display: flex;
  align-items: center;
}

.post-container .reactions div {
  margin-right: 40px;
  cursor: pointer;
}

.post-container .reactions img {
  width: 20px;
  margin-right: 10px;
}

.post-container .user-image-options img {
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 5px;
}

.post-container .reaction-icons-container {
  justify-content: space-between;
  margin-top: 10px;
}

.load-more-button-container,
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-more-button-container button {
  padding: 5px 10px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid #9a9a9a;
}

.footer {
  margin-top: 20px;
  font-size: 1.3rem;
  color: #6c6c6c;
}
