* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #efefef;
  height: 3000px;
}

nav {
  background-color: #0c71f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  width: 100%; */
  padding: 5px 5%;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left img {
  cursor: pointer;
}

.logo {
  width: 160px;
  margin-right: 45px;
}

.nav-left ul li {
  list-style: none;
  display: inline-block;
}

.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}

.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-user-icon {
  margin-left: 30px;
}

.search-box {
  background-color: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box img {
  width: 18px;
}

.search-box input {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border: none;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  top: 0;
  right: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #41db51;
  position: absolute;
}
