* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body {
  background-color: #efefef;
  /* height: 3000px; */
}

nav {
  background-color: #0c71f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 5px 5%;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-left img {
  cursor: pointer;
}

.logo {
  width: 160px;
  margin-right: 45px;
}

.nav-left ul li {
  list-style: none;
  display: inline-block;
}

.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}

.nav-user-icon img,
.content-image-container img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-user-icon {
  margin-left: 30px;
}

.search-box {
  background-color: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box img {
  width: 18px;
}

.search-box input {
  width: 100%;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border: none;
}

.online {
  position: relative;
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  top: 0;
  right: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #41db51;
  position: absolute;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 13px 5%;
}

.lift-sidebar,
.right-sidebar {
  position: sticky;
  top: 70px;
  flex-basis: 25%;
  align-self: flex-start;
}

.lift-sidebar ul li {
  list-style: none;
}

.lift-sidebar ul li a,
.shortcuts-links-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #626262;
  margin-bottom: 30px;
  width: fit-content;
}

.lift-sidebar ul li img {
  width: 25px;
  margin-right: 15px;
}

.see-more-link-container {
  margin: 20px 15px;
}

.lift-sidebar .see-more-link,
.right-sidebar .sub-title a,
.right-sidebar .event-details a {
  color: #0c71f5;
  cursor: pointer;
}

.shortcuts-links-container {
  margin: 25px 0 15px 0px;
}

.separator {
  border-top: 1px solid #ccc;
}

.lift-sidebar .list-shortcuts img {
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}

.shortcuts-links-container .title {
  margin: 25px 0;
  color: #626262;
  font-weight: 500;
}

.right-sidebar {
  background-color: #fbfbfb;
  height: 100vh;
  padding: 25px 20px;
}

.event-details-container {
  display: flex;
}

.date-container {
  margin-right: 15px;
}

.right-sidebar .sub-title {
  display: flex;
  justify-content: space-between;
}

.right-sidebar .sub-title p {
  font-size: 17px;
  color: #6b6b6b;
  font-weight: 600;
}

.right-sidebar .sub-title a,
.right-sidebar .event-details a {
  font-size: 14px;
  text-decoration: none;
}

.event-details-container .date-container {
  height: 80px;
  position: relative;
}

.event-details-container .day,
.event-details-container .date-container .month {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.116);
}

.event-details-container .day {
  height: 55px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
  font-size: 19px;
}

.event-details-container .date-container .month {
  position: absolute;
  bottom: 0;
  background-color: #0c71f5;
  color: white;
  font-size: 13px;
  height: 25px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sub-title {
  margin-bottom: 25px;
}

.event-details-container {
  margin-bottom: 20px;
}

.event-details .event-name,
.event-details .event-location-container {
  margin-bottom: 8px;
}

.event-details img {
  width: 12px;
  margin-right: 6px;
}

.event-details .event-name {
  font-size: 20px;
}

.event-details .event-location-name {
  font-size: 15px;
}

.event-details .event-location-container,
.content {
  display: flex;
  align-items: center;
}

.advertisement-container,
.conversation-container {
  margin-top: 25px;
}

.advertisement-container img {
  border-radius: 5px;
  width: 450px;
  object-fit: contain;
}

.content-name {
  font-size: 17px;
}

.content-image-container {
  margin-right: 15px;
}

.content-image-container::after {
  top: auto;
  bottom: 0;
}

.content {
  margin-bottom: 20px;
}
